REGION={{encodeMyString '<REGION>'}}
STAGE={{encodeMyString '<STAGE>'}}
{{#if wantAPI}}STORAGE_BUCKET={{encodeMyString '<STORAGE_BUCKET>'}}{{/if}}
{{#if wantSettings}}
SETTINGS_SERVICE_ENDPOINT={{encodeMyString '<SETTINGS_SERVICE_ENDPOINT>'}}
SETTINGS_SERVICE_NAME={{encodeMyString '<SETTINGS_SERVICE_NAME>'}}
{{/if}}
