APP_HOST=<APP_HOST>
APP_PORT=<APP_PORT>
APP_RELOAD=<APP_RELOAD>
APP_LOG_LEVEL=<APP_LOG_LEVEL>
APP_ENVIRONMENT=<APP_ENVIRONMENT>
APP_WORKERS_COUNT=<APP_WORKERS_COUNT>

APP_AUTH0_DOMAIN=<APP_AUTH0_DOMAIN>
APP_AUTH0_API_AUDIENCE=<APP_AUTH0_API_AUDIENCE>
APP_AUTH0_ISSUER=<APP_AUTH0_ISSUER>
APP_AUTH0_ALGORITHMS=<APP_AUTH0_ALGORITHMS>

LOGS_AWS_ACCESS_KEY_ID=<LOGS_AWS_ACCESS_KEY_ID>
LOGS_AWS_SECRET_ACCESS_KEY=<LOGS_AWS_SECRET_ACCESS_KEY>
LOGS_AWS_SESSION_TOKEN=<LOGS_AWS_SESSION_TOKEN>
LOGS_AWS_REGION=<LOGS_AWS_REGION>
