.reddit-content ul:has(li):has(a) {
    display: flex;
    li {
        display: inline-flex;
        border-radius: 15px;
        padding: 4px 8px;
        background-color: #c9c9c9;
        font-size: 12px;
        transition: background-color 0.3s ease-in;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 4px;
        }
        &:hover {
            background-color: #f3f3f3;
        }
    }
}