import { Links, Meta, Outlet, Scripts, ScrollRestoration } from '@remix-run/react'
{{#if isTailwind}}
import React from 'react'
import type { LinksFunction } from "@remix-run/node"
import stylesheet from './tailwind.css?url'
{{/if}}

{{#if isMUI}}
import React from 'react'
import type { LinksFunction } from "@remix-run/node"
import { theme } from '@dbbs/mui-components'
import { MuiDocument } from './mui/MuiDocument'
{{/if}}

{{#if isTailwind}}
export const links: LinksFunction = () => [
  { rel: "stylesheet", href: stylesheet },
];
{{/if}}

{{#if isMUI}}
export const links: LinksFunction = () => [
  { rel: 'preconnect', href: 'https://fonts.googleapis.com' },
  {
    rel: 'preconnect',
    href: 'https://fonts.gstatic.com',
    crossOrigin: 'anonymous'
  },
  {
    rel: 'stylesheet',
    href: 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'
  }
]
{{/if}}

export function Layout({ children }: { children: React.ReactNode }) {
  return (
    <html lang="en">
      <head>
        <meta charSet="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{#if isMUI}}
        <meta name="theme-color" content={theme.palette.primary.main} />
        {{/if}}
        <Meta />
        <Links />
      </head>
      <body>
        {children}
        <ScrollRestoration />
        <Scripts />
      </body>
    </html>
  )
}

export default function App() {
  return (
    <>
    {{#if isMUI}}
      <MuiDocument>
    {{/if}}
        <Outlet />
    {{#if isMUI}}
      </MuiDocument>
    {{/if}}
    </>
  )
}