{{#ifCond cssFramework '===' 'tailwind'}}
import { Button } from '@dbbs/tailwind-components'
import './index.css'

function App() {
  return <Button>Sample APP</Button>
}
{{/ifCond}}
{{#ifCond cssFramework '===' 'mui'}}
import { ThemeProvider, Typography, theme } from '@dbbs/mui-components'

function App() {
  return (
    <ThemeProvider theme={theme}>
      <Typography data-testid="app-title">Sample APP</Typography>
    </ThemeProvider>
  )
}
{{/ifCond}}

export default App
