import { createLazyFileRoute } from '@tanstack/react-router'
{{#ifCond cssFramework '===' 'tailwind'}}
import { Button } from '@dbbs/tailwind-components'

export const Index = () => <Button>Sample APP</Button>
{{/ifCond}}
{{#ifCond cssFramework '===' 'mui'}}
import { Typography } from '@dbbs/mui-components'

export const Index = () => <Typography data-testid="app-title">Sample APP</Typography>
{{/ifCond}}

export const Route = createLazyFileRoute('/')({
  component: () => <Index />
})
